body {
	padding-top:5vh;
}
.img-fluid {

}
.title {
	text-align: center;
	height: 100%;
	width: 100%;
}
.instaimg img {margin-bottom:30px;}
.instaimg img:hover {
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
}

